.section-title {
  width: 100%;
  display: flex;
  margin: 0px;
  margin-bottom: 10px;
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-size: 6vmin;
}

@media (max-width: 600px) {
  .section-title {
    text-align: center;
  }
}
