.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-icons {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-extra {
  margin: 0;
  padding: 5px;
}

.footer-extra-line {
  margin: 0;
  padding: 3px;
  text-align: center;
}
