.card-body-image {
  left: 0;
  top: 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title-subtitle {
  position: absolute;
  margin-top: 30px;
}

.card-body-title {
  position: relative;
  padding: 10px;
  margin: 0;
  font-size: 1.4vw;
}

.card-body-subtitle {
  position: absolute;
  padding: 10px;
  margin: 0;
  clear: both;
  font-size: 1vw;
}

.card-hover-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: .8;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  flex: 1 1 0;
  box-sizing: border-box;
  text-decoration: none;
}

.card-point-list {
  position: absolute;
  padding: 10px 30px;
  font-family: Roboto;
  font-weight: 500;
  font-size: calc(10px + 1vmin);
  margin: 0;
}

@media (max-width: 900px) {
  .card-body-title {
    font-size: 2.4vw;
  }

  .card-body-subtitle {
    font-size: 1.5vw;
  }
}

@media (max-width: 600px) {
  .card-body-title {
    font-size: 5vw;
  }

  .card-body-subtitle {
    font-size: 4vw;
  }
}
