.card {
  background-color: #666666;
  display: block;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
}

.card-top {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.card-image > img {
  border-radius: 50%;
  margin: 10px;
  width: calc(10px + 10vmin);
  height: calc(10px + 10vmin);
}

.card-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  margin: 0;
}

.card-subtitle {
  font-family: Roboto;
  font-weight: 300;
  font-size: calc(10px + .8vmin);
  margin: 0;
}

.card-point-list {
  font-family: Roboto;
  font-weight: 500;
  font-size: calc(10px + 1vmin);
  margin: 0;
}
