.card {
  background-color: #3a4a4a;
  display: block;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 20px 10px;
  flex: 1 1 400px;
}

.card-point-list {
  font-family: Roboto;
  font-weight: 500;
  font-size: calc(10px + 1vmin);
  margin: 0;
}
