.header-item {
  background-color: none;

  max-width: 160px;
  height: 50px;
  top: 0px;
  font-family: Roboto;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
}

.header-item > a {
  text-align: center;
  width: 100%;
  margin: 0;
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item > a > p {
  margin: 0;
}

.header-item:hover, .highlighted, .header-item:hover > a, .highlighted > p {
  background-color: white;
  color: black;
  width: 100%;
}
