.card-description {
  padding: 5px 20px;
}

.button-container {
  padding: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
}

.table-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.overlain-card {
  position: fixed;
  display: table;
  max-width: 1000px;
  width: 80%;
  box-sizing: border-box;
  margin: 20px 10px;
  text-decoration: none;
}
