.hero-title {
  display: inline-flex;
  padding: 10px 100px;
  font-size: 11vmin;
  margin: 0;
  width: auto;
  font-weight: 700;
  font-family: "Zilla Slab", serif;
}

@media (max-width: 900px) {
  .hero-title {
    padding: 10px 50px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    text-align: center;
  }

  .hero-title {
    padding: 10px 25px;
  }
}
