.card-section {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 50px 100px;
}

.card-section-cards {
  display: grid;
  flex: 1 1 0;
  justify-content: space-between;
  grid-gap: 20px;
  grid-template-columns: 100%;
}

.grid-halves {
  grid-template-columns: repeat(2, calc(50% - 20px));
}

.grid-thirds {
  grid-template-columns: repeat(3, calc(33% - 20px));
}

.grid-fourths {
  grid-template-columns: repeat(4, calc(25% - 20px));
}

.grid-fifths {
  grid-template-columns: repeat(5, calc(20% - 20px));
}

.grid-sixths {
  grid-template-columns: repeat(6, calc(16% - 20px));
}

@media (max-width: 1200px) {
  .grid-fifths {
    grid-template-columns: 100%;
  }
  .grid-sixths {
    grid-template-columns: repeat(3, calc(33% - 20px));
  }
}

@media (max-width: 1000px) {
  .grid-thirds,
  .grid-fifths {
    grid-template-columns: 100%;
  }
}

@media (max-width: 900px) {
  .grid-fourths,
  .grid-sixths {
    grid-template-columns: repeat(2, calc(50% - 20px));
  }

  .card-section {
    padding: 35px 50px;
  }
}

@media (max-width: 600px) {
  .grid-halves,
  .grid-fourths {
    grid-template-columns: 100%;
  }

  .card-section {
    padding: 25px 25px;
  }
}
