.card-section {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 0 20px;
}

.card-section-title {
  width: 100%;
  display: inline-flex;
  margin: 0;
}

.card-section-cards {
  display: flex;
  flex-wrap: wrap;
}
