.hero-subtitle {
  display: inline-flex;
  padding: 5px 100px;
  font-size: 3.5vmin;
  margin: 0;
  max-width: 80%;
  font-weight: 500;
  font-family: "Zilla Slab", serif;
}

.subtitle-wrapper :not(.middle-subtitle) {
  padding: auto 15vw;
}

.left-subtitle {
  justify-content: flex-start;
  text-align: left;
}

.middle-subtitle {
  justify-content: center;
  text-align: center;
}

.right-subtitle {
  float: right;
  text-align: right;
}

@media (max-width: 900px) {
  .hero-subtitle {
    padding: 5px 50px;
  }
}

@media (max-width: 600px) {
  .subtitle-wrapper {
    padding: 0;
  }

  .hero-subtitle {
    font-size: 4.5vmin;
    padding: 5px 25px;
  }

  .left-subtitle,
  .right-subtitle {
    text-align: center;
  }
}
